*.pyc
*.so
*.html
.tox
dist
build
_build
MANIFEST
pycrfsuite/_pycrfsuite.cpp
.ipynb_checkpoints
conll2002-esp.crfsuite
*.egg-info/
.cache
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
